{% load static %} {% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Terms of Use</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- fevicon -->
    <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
    <!-- bootstrap css -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- style css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/terms.css' %}">
    <!-- Responsive-->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
</head>

<body class="main-layout">

    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="#" /></div>
    </div>
    <!-- end loader -->

    <!-- header -->
    <div class="industries-nav-bar" style="margin-bottom:-17px">
        <nav>
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
                <i class="fa fa-bars"></i>
                </label>
            <a href="#"><img id="logo_img" src="{% static 'images/comp_logo.png'%}"></a>
            <label class="logo">HawkVisum</label>
            <ul>
                <li> <a href="{% url 'homepage' %}" target="_blank_">Home</a> </li>
                <li> <a href="{% url 'industriespage' %}" target="_blank_">Industries</a> </li>
                <li> <a href="{% url 'aboutpage' %}" target="_blank_">About </a> </li>
                <li> <a href="{% url 'contactpage' %}" target="_blank_">Contact</a> </li>
                <li> <a href="{% url 'blogpage' %}" target="_blank_">Blog</a> </li>
            </ul>
        </nav>
    </div>

    <hr style="border: 3px solid #eded9a">
    <!-- Header End -->
    <div class="terms_use" style="padding: 10px; box-shadow: 5px 10px #888888; margin-bottom: 30px; margin-top: 30px; margin-left:-10px">
        <h1 style="font-size:40px; font-family: 'Times New Roman', Times, serif; margin-left:100px; color: #565656; font-weight: bold; font-size:40px;">HawkVisum Websites Terms of Use</h1>
    </div>

    <div class="terms_content">
        <h1>1. General</h1>
        <p>The HawkVisum Community (the "Community") is a family of websites and online sub-communities comprised of blogs, discussion forums, document and information sharing about products and services, virtualization software and technology and services
            provided by HawkVisum Private Limited. The Community is hosted by HawkVisum. The purpose of the Community is to provide a forum for interested users of virtualization and related products and services and for participants in HawkVisum programs
            such as beta programs, user groups, and customer advisory councils to exchange information and to generally build enthusiasm for software and technology in the virtualization ecosystem.</p>
        <h1>2. User’s Acceptance of Terms of Use</h1>
        <p>These Community Participation Terms of Use ("Terms of Use") shall govern your access, visits and participation in the Community. These Terms of Use are in addition to (and form a part of) the HawkVisum Websites Terms of Use. Individual sub-communities
            may have community-specific terms of use, in addition to those set forth here. By registering for a Community account, by using or visiting the Community, you are subject to the Terms of Use. If you do not agree to all of the Terms of Use,
            you should not access, visit or participate in the Community. HawkVisum reserves the right to modify, suspend or terminate the Community and/or these Terms of Use from time to time at its sole discretion and without notice. HawkVisum reserves
            the right to refuse access to the Community to anyone, at any time, without notice, and for any reason. The Community is provided on an AS IS and AS AVAILABLE basis. HawkVisum will not be liable to you or any third party for any claims or
            actions arising or resulting from your use, visit, or participation in the Community and for any modification, suspension, or termination of the Community, or termination of your access to the Community</p>
        <h1>3. Registration</h1>
        <p>You must be at least eighteen (18) years old or the age of majority in your jurisdiction to use and participate in the Community. If you wish to have a Community account, you must provide current, accurate, and complete information about yourself
            during the account registration process. By joining the Community, you expressly agree to be bound by the Terms of Use as entered into by and between HawkVisum and you. You are responsible for maintaining the confidentiality of your Community
            password and account, and assume all liabilities and responsibilities for any and all activities that occur under your account. You must maintain and promptly update any account information provided to HawkVisum in order to keep such information
            up to date, accurate and complete. HawkVisum does not require that you provide personal information, the decision to provide personal information is voluntary. However, in order to register for an account with the HawkVisum Community, you
            must provide personal information. By providing your personal information to HawkVisum, you consent to the collection, processing and storage by HawkVisum of your personal information in accordance with the terms of HawkVisum's Privacy Policy.</p>
        <h1>4. Conduct</h1>
        <p>You must abide by the following rules of conduct:
            <br> a. Do not engage in any unlawful conduct in the Community. In particular, do not post, publish, or distribute any defamatory, obscene, infringing or other unlawful material or information in the Community.
            <br> b. Treat others in the Community as you would expect them to treat you. Do not engage in personal attacks or any type of "flaming" of other users. Do not "troll," i.e., post topics or opinions that are designed to provoke a negative response
            from one or more specific users.
            <br> c. Do not use offensive language. If you have any doubts about whether a particular statement might be considered offensive by other users, do not post it.
            <br> d. Do not engage in disruptive activity in the Community, such as persistent off-topic contributions or comments, or statements that might incite other users to violate these guidelines or participate in illegal activities.
            <br> e. Do not contribute content that contains photos, software or other material protected by intellectual property laws, rights of privacy or publicity, or any other applicable law unless you own or have rights to these materials.
            <br> f. Do not post any instructions, software or other materials that would allow participants or third parties to harm other users' computers or to inappropriately access software or websites.
            <br> g. Do not post any computer programs that contain destructive features, such as viruses, worms or Trojan horses. Do not employ any type of bots for the use of scrolling, showing multiple screens, or other activities that might disrupt
            online communication.
            <br> h. Do not falsely impersonate any other person in the forum, including HawkVisum employees or agents.
            <br> i. Do not use the Community to spam other users, including sending identical and irrelevant submissions to many different discussion groups, mailing lists or communities.
            <br> j. Do not misrepresent the source of anything you contribute.
            <br> k. Do not attempt to gain unauthorized access to any portion of the HawkVisum Websites (as defined in the HawkVisum Websites Terms of Use or any other accounts, computer systems, or networks connected to the HawkVisum Websites, whether
            through hacking, password mining, or any other means.
            <br> l. While you may use the Community to provide supplemental information about your own business that might be of interest to other users (without spamming them), do not rely on the Community as the primary mechanism for operating or promoting
            your business. Any use of the Community for commercial purposes is solely at your own risk, and HawkVisum assumes no liability for such use.
            <br> m. Any space provided to you in the Community is for your own personal use, and may not be sold, licensed, exchanged or bartered for any purpose, including advertisements.
            <br> n. You are responsible and liable for all your activities while participating in the HawkVisum Community, including anything you contribute.
            <br> o. Do not rely on the Community for the safe or secure storage of any materials, such as photos, documents and software. The Community is not designed as the primary place to store any of these materials, and HawkVisum is not responsible
            for the alteration, deletion or loss of any stored items. Create back-ups for any materials that you contribute to the Community.
            <br> p. HawkVisum reserves the right to remove at any time, without notice, any contribution that violates these guidelines. HawkVisum also reserves the right at any time, without notice, to ban a user who has violated these rules of conduct
            from any sub-community or all Community forums.
            <br> q. Some participants may post Internet website links in the Community forum. HawkVisum is not responsible for the content on the websites associated with these links. In addition, HawkVisum reminds you that some content and links on the
            Internet contain inappropriate material, such as malware or adult content that is not suitable for children or may be offensive to some users.
            <br> r. You are responsible for any actions you may take based on information or advice you receive while online. Use your own good judgment when evaluating information provided through the Community or any other communication service. The
            decision to share information or conduct transactions with anyone is your own; therefore conduct your own research prior to making any decisions.</p>
        <h1>5. Contributions</h1>
        <p>There are opportunities for you as a user of the Community to actively participate by creating, providing, sharing and uploading information to the Community such as comments, ideas or suggestions for new or improved software products, technologies,
            marketing/advertising campaigns or product names, data, articles, documents, discussion forum threads, blog entries, computer code, such as software sample code, source code, scripts, patches, bug fixes, binaries or executables, or other information
            (collectively "Contributions"). Contributions in the Community are subject to these Terms of Use. HawkVisum assumes no responsibility or liability over the sharing of Contributions among users.
            <br> Any Contributions provided by you to the Community may be editable and freely used by HawkVisum and other users. Ways in which your Contributions may be used include, but are not limited to, creating comments, articles, documents, FAQs
            or knowledge bases. For example, users may incorporate discussion threads written by other users into new documents. Additionally, users may incorporate documents written by others to create a new list of FAQs. HawkVisum shall have the right
            to retain and use Contributions, in edited or unedited form, for any purpose in any way including but not limited to re-posting such Contributions to other areas of the Community, by using Contributions in current or future products or services,
            or even giving or selling your Contributions to others. Therefore, do not upload Contributions to the Community unless you agree to these Terms of Use. HawkVisum is under no obligation to post or use any Contributions provided by users and
            HawkVisum may in fact remove any Contributions at any time at its sole discretion for any reasons or for no reasons.</p>
        <h1>6. Contributions Ownership, Rights and Liability</h1>
        <p>HawkVisum does not claim ownership of any Contributions that you or other users post, upload, submit or otherwise provide to the Community. However you hereby grant:
            <br> 1. Others the right to reproduce Contributions that do not constitute sample code, source code, scripts, patches, bug fixes, binaries or executables (“Software”) under the <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons Attribution-NonCommercial license</a>.
            <br> You also grant HawkVisum and all users of the Community the permission to use your Contributions in other areas of the Community.
            <br> 2. Others a license to Software Contributions pursuant to the terms established by the author of the Software.
            <br> 3. For "Attribution" under the Creative Commons license, it is required and sufficient to provide with the reproduced content a link to or URL of the Community page containing the source Contribution.
            <br> Collective Work of Contributions: A Collective Work of Contributions is a compilation of Contributions into a single website or publication. HawkVisum asserts copyright ownership in any Collective Work of Contributions, and such compilations,
            when published for commercial or non-commercial purpose not by HawkVisum, may violate HawkVisum's rights in such a collective work.
            <br> In order to grant HawkVisum and other users of the Community the rights, permissions and licenses contained herein, you represent and warrant that you either own or have all the necessary intellectual property rights in the Contributions
            uploaded or shared to the Community and that your Contributions are non-infringing on the patent, copyright or other intellectual property rights of others. Do not post, upload, submit or otherwise provide Contributions to the Community that
            are protected by the intellectual property rights of others, unless you own or have the necessary rights or licenses to use such Contributions, and such rights or licenses do not otherwise conflict with your ability to submit, upload or otherwise
            provide such Contributions.
            <br> For the academic sub-community, Contributions consisting of previously published academic papers and courseware have additional terms governing their use, such as limiting their use to only non-commercial, educational and research purposes.
            Such additional terms governing the use of the academic papers and courseware shall control and you shall be responsible for abiding by those additional terms.
            <br> By uploading Contributions to the Community, you represent and warrant that you are not uploading viruses, worms, Trojan horses or other malicious, illegal, or unlawful code which is designed to interrupt, destroy, or limit the functionality
            of any software or hardware. All Contributions available for download and/or use are provided on an AS IS and AS AVAILABLE basis, without any warranty of any kind and you assume all risks associated with the Contributions that you download.
            Please see the sections entitled Disclaimers, Limitation of Liability and Exclusions and Limitations in the HawkVisum Websites Terms of Use.
            <br> All Contributions are deemed be provided on a non-confidential basis. HawkVisum is under no obligation to and does not control the Contributions created, provided or uploaded to the Community. The nature of some Contributions may be offensive,
            harmful or inaccurate, and in some cases will be mislabeled or deceptively labeled. HawkVisum reserves the right to take down and remove Contributions that are flagged by users or deemed by HawkVisum as objectionable. However HawkVisum is
            under no duty to take down or remove any Contributions.</p>
        <h1>7. Blogs</h1>
        <p>Blog authors and blog users (hereinafter "Bloggers") who post blog entries, comments or other Contributions are expected to adhere to conduct as set forth in Section 4 above. Bloggers may create blogs generally discussing HawkVisum products and
            services, or virtualization software and technology. Although HawkVisum respects the freedom of Bloggers and the Contributions they post, blogs that predominantly discuss topics completely unrelated to virtualization or that consume excessive
            resources or bandwidth may be taken down at the sole discretion of HawkVisum. Generally it is suggested that Bloggers take responsibility not just for their own words, but for the comments allowed on their blogs; label their tolerance level
            for abusive comments; consider eliminating anonymous comments; ignore the trolls (i.e., those who intentionally post derogatory or otherwise inflammatory messages); take the conversation offline, and talk directly, or find an intermediary
            who can do so; if you know someone who is violating the conduct guidelines, tell them so; and don't say anything online that you wouldn't say in person. Bloggers understand that they bear the full responsibility of any Contributions they post
            and that such Contributions may lead to adverse consequences in their personal or professional lives, such as damaged friendships or loss of employment.</p>
        <h1>8. Procedure for Making Claims of Copyright Infringement Under the Digital Millennium Copyright Act (DMCA)</h1>
        <p>HawkVisum respects the intellectual property rights of others, and we ask our Community members to do the same. If you believe that your copyrighted work has been copied and is accessible on a HawkVisum web site or Community site in a way that
            constitutes copyright infringement, please send a notice to our copyright agent providing the following information:
            <br> * The electronic or physical signature of the owner of the copyright or the person authorized to act on the owner's behalf
            <br> * A description of the copyrighted work that you claim has been infringed and a description of the infringing activity
            <br> * A description of where the material that you claim is infringing is located, such as the URL where it is posted
            <br> * Your name, address, telephone number, and email address
            <br> * A statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent, or the law
            <br> * A statement by you, made under penalty of perjury, that the above information in your Notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner's behalf
            <br>
            <br>
            <br> HawkVisum's copyright agent for notice of claims of copyright infringement can be reached as follows. Note: This contact information is solely for reporting copyright infringement.
            <br>
            <br>
            <br> HawkVisum Private Limited.
            <br> Registered Address: 2-549, Third Road, Second Cross, Anantapur, Andhra Pradesh, INDIA - 515004
            <br> Email: info@hawkvisum.com
            <br> Phone: +91 9642560052</p>
        <br>
        <br>
        <br>

    </div>
    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer" style="margin-top:-17px">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">HawkVisum</h2>

                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            <a class="text-decoration-none">Bangalore</a>
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" style="color:white" href="tel:Contact Number">+919642560052</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" style="color:white" href="mailto:info@company.com">info@hawkvisum.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Industries</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" style="color:white" href="#">Education</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Automobile</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Health</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Construction</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Industrial</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Interior Designing</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="#">Gaming</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" style="color:white" href="{% url 'homepage' %}">Home</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="{% url 'aboutpage' %}">About Us</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="{% url 'blogpage' %}">Blog</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="{% url 'faqpage' %}">FAQ's</a></li>
                        <li><a class="text-decoration-none" style="color:white" href="{% url 'contactpage' %}">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <ul class="social_link">
                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <p style="text-align: center; color: white;">Copyright &copy; 2021 HawkVisum, Inc.</p>

        <br>
        <br>

    </footer>
    <!-- End Footer -->
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
    <script src="{% static 'js/plugin.js' %}"></script>
    <!-- sidebar -->
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

</body>

</html>